.navul{
  display: flex;
      list-style: none;
      gap: 10px;
      text-decoration: none;
      justify-content: end;
      margin-right: 20px;
}

.navul li a{
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.loginmain{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.formdetail{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profilemain ul{
  list-style: none;
}

.profilemain ul li a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.detail{
  border: 2px solid black;
}

.profilemain{
  display: flex;
}

.detail{
  width: 80%;
  margin-left: 20px;
  padding: 20px;
}